body {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}
li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
h1 {
  padding: 0%;
  margin: 0%;
}
h3 {
  padding: 0%;
  margin: 0%;
}
h2 {
  padding: 0%;
  margin: 0%;
}
header {
  width: 100%;
  background-color: rgba(24, 18, 7, 0.048);
  display: flex;
  justify-content: center;
  position: fixed;
}
header ul {
  width: 800px;
  display: flex;
  justify-content: space-between;
}
header ul a {
  padding: 8px 16px;
  color: #db0b0b;
}
header ul a:hover {
  color: #9c24e2;
}
#sec1 {
  width: 100%;
  height: 100vh;
  background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page236/zipper/assets/img/image-01.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sec1 div {
  text-align: center;
  color: wheat;
  font-size: 20px;
}
#sec2 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page236/zipper/assets/img/image-02.jpg);
  display: flex;
  justify-content: flex-end;
}
#sec2 div {
  width: 450px;
  height: 100vh;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.808);
  margin: 0px 40px;
}
#sec2 div h3 {
  color: yellow;
  margin: 40px;
}
#sec2 div p {
  color: #fff;
  margin: 40px;
}
#sec3 {
  width: 100%;
  height: 100vh;
  background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page236/zipper/assets/img/image-03.jpg);
  background-size: cover;
}
#sec3 div {
  width: 450px;
  height: 100vh;
  text-align: justify;
  background-color:black;
  margin: 0px 40px;
  text-align: center;
}
#sec3 div h3 {
  color: yellow;
  margin: 40px;
}
#sec3 div p {
  color: #fff;
  margin: 40px;
}
#sec4 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page236/zipper/assets/img/image-04.jpg);
  text-align: center;
}
#sec4 .class {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  grid-gap: 15px;
  margin: 100px 0px 0px 0px;
}
#sec4 .class div {
  background-color: rgba(82, 75, 75, 0.151);
  height: 250px;
}
#sec4 .class div i {
  margin: 15px;
  font-size: 50px;
  color: #fff;
}
#sec4 .class div p {
  text-align: justify;
  color: #fff;
  margin: 20px;
  font-size: 15px;
}
#sec5 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url(https://www.free-css.com/assets/files/free-css-templates/preview/page236/zipper/assets/img/image-05.jpg);
  display: flex;
  justify-content: flex-end;
}
#sec5 .class1 {
  width: 450px;
  height: 100vh;
  background-color: black;
  margin: 0px 40px;
}
#sec5 .class1 input {
  width: 350px;
  height: 70px;
  border: none;
  background-color: rgba(168, 19, 19, 0.295);
  margin: 10px;
}
#sec5 .class1 button {
  width: 150px;
  height: 50px;
  background-color: rgba(180, 18, 18, 0.295);
  border: none;
  margin: 10px;
  color: rgb(233, 219, 219);
}
